body {
    font-family: 'Arial', sans-serif;
}

.grid-row {
    display: flex;
}

.grid-box {
    flex: 1;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: #DADADA;
}